
*.fdt

*.fdx

*.fnm

*.json

*.xml

*.log

*.xml

*.gen

*.prefs

*.fnm

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/12/a05dad6e463400171a26996c7b83ee7d

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/22/f02c6db7463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/32/c0ebe640463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/26/e070584a443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/20/9049a76b463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/36/a01b69664d3400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/1c/f0c9d935463400171a26996c7b83ee7d

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/37/50e0b95c463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/69/705c47d7473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/45/0035bf01473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/7c/702c0f4d443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/80/f057709d463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/84/a006beef473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/75/f00ba8f7463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/89/30a462e1473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/91/f0100d824d3400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/aa/f09d1e03473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/a0/0069673c443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/9d/a097010d473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/9c/c03a1ec4463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/88/c09d6a4e443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/ae/f0e10dfd463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/cc/b0042b32443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/cd/5033a5b4463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/bd/609384e6473400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/d3/1019b676463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/e7/d0fb0a4d463400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.projects/Dogfight/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/Dogfight/.markers

*.snap

*.index

.metadata/.plugins/org.eclipse.core.resources/.history/fd/60a6feaa463400171a26996c7b83ee7d

*.snap

*.dat

*.snap

.metadata/.plugins/org.eclipse.core.resources/.history/d7/f03c5850443400171a26996c7b83ee7d

.metadata/.plugins/org.eclipse.core.resources/.history/71/c0407145443400171a26996c7b83ee7d

*.xml

*.log

*.dat

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

*.tis

*.tii

*.prx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

*.gen

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

*.nrm

*.frq

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

*.tis

*.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1

.metadata/version.ini

*.ini

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/version.ini

*.log

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

*.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/2568037742.index

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
